.content {
	// .content__body
	&__body {
		padding: 20px 0px 0px 0px;
		@include adaptiv-value('margin-bottom', 50, 30, 1);
	}

	//.content__categories
	&__categories {
		margin: 0px 0px 25px 0px;

		@media (max-width: 1400+px) {
			display: none;
		}
	}

	// .content__services
	&__services {
	}

	// .content__services-body
	&__services-body {
		@media (max-width: 1400px) {
			grid-template-columns: repeat(2, 1fr);
			row-gap: 20px;
		}

		@media (max-width: $md1+px) {
			grid-template-columns: 1fr;
		}
	}
}

.services {
	// .services__column
	&__column {
	}

	// .services__item
	&__item {
	}
}

.content {
	// .content__bg
	&__bg {
	}

	// .content__title
	&__title {
		padding: 0px 0px 0px 45px;
		background: url('../img/icons/CrownSimple.svg') 0 3px no-repeat;

		&:not(:last-child) {
			margin-bottom: 20px;
		}

		@media (max-width: $md3 + px) {
			background-size: 22px 22px;
			background-position: 0 3px;
		}
	}

	// .content__text
	&__text {
		font-weight: 500;
		line-height: 150.7%;
		color: #c7c7c7;

		max-width: 720px;

		&:not(:last-child) {
			margin: 0px 0px 20px 0px;
		}

		span {
			color: #fff;
			font-weight: 700;
		}
	}

	// .content__leveling
	&__leveling {
	}
}

.leveling {
	// .leveling__title
	&__title {
		font-weight: 700;
		line-height: 150.7%;
		color: #ffffff;

		margin: 0px 0px 20px 0px;
	}

	// .leveling__list
	&__list {
		margin: 0px 0px 20px 0px;
	}

	// .leveling__item
	&__item {
		padding: 0px 0px 0px 27px;
		background: url('../img/icons/CheckCircle.svg') 0 center no-repeat;

		&:not(:last-child) {
			margin: 0px 0px 10px 0px;
		}
	}
}
