//<FORM ()>====================================================================================================
.form {
	&__row {}

	&__column {}

	&__line {}

	&__input {}

	&__button {}

	&__error {}
}

//</FORM>====================================================================================================

//<BUTTONS (a.btn+tab)>====================================================================================================
.btn {
	display: inline-flex;
	padding: 0px 0px;

	@media (min-width: 992px) {
		&:hover {}
	}

	&._fw {
		width: 100%;
	}
}

//</BUTTONS>====================================================================================================

//<SELECT (sel+tab)>====================================================================================================
.select {
	position: relative;

	// .select__item
	&__item {
		position: relative;
	}

	// .select__title
	&__title {
		color: #000;
		background-color: #fff;
		border-radius: 4px;
		cursor: pointer;

		@media (max-width: $md2+px) {
			font-size: 18px;
		}
	}

	// .select__value
	&__value {
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;

		font-size: 16px;
		font-weight: 700;
		align-items: center;
		height: 30px;
		padding: 0px 15px;

		span {
			height: 1em;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
		}

		&:before {
			content: "";
			display: inline-block;
			position: relative;
			right: 5px;
			z-index: 5;

			width: 10px;
			height: 6px;
			transition: all 0.3s ease 0s;
			background: url("../img/icons/arrow-down.svg") center / 100% no-repeat;
		}

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			right: 8px;

			width: 35px;
			height: 35px;
			border-radius: 5px;
			background: linear-gradient(90deg, rgba(229, 69, 61, 0.6) -14.78%, rgba(255, 122, 46, 0.6) 451.57%);
			transform: translate(0px, -50%);
		}
	}

	&__input {
		width: 100%;
		height: 100%;
		background-color: transparent;
	}

	// .select__options
	&__options {
		position: absolute;
		top: 50px;
		left: 0;

		color: #8C8C8C;
		font-size: 16px;

		min-width: 100%;
		background-color: #1D1D1D;
		padding: 15px 0px 15px 0px;
		border-radius: 0 0 4px 4px;
		border-top: 0;

		@media (max-width: $md2+px) {
			font-size: 18px;
		}
	}

	// .select__option
	&__option {
		padding: 5px 20px;
		margin: 0px 0px 15px 0px;
		cursor: pointer;

		&:last-child {
			margin-bottom: 0;
		}

		@media (min-width: 992px) {
			&:hover {
				color: #D6D6D6;
			}
		}
	}

	&._active {
		z-index: 5;

		.select__value {
			&:before {
				transform: rotate(-180deg);
			}
		}

		.select__options {
			display: block;
		}
	}
}

//</SELECT>====================================================================================================

//<INPUT (inp+tab)>====================================================================================================
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	&:focus {
		outline: none;
	}
}

.input {
	display: block;
	width: 100%;
	padding: 0px 20px;
	border-radius: 0 !important;

	&._focus {}

	&._error {}
}

textarea.input {
	resize: none;
	padding: 0px 0px;
}

//</INPUT>====================================================================================================

//<CHECK (chk+tab)>====================================================================================================
.checkbox {
	position: relative;

	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;

		&:checked+.checkbox__text:before {
			background: #fff url("../img/icons/check.svg") center no-repeat;
		}
	}

	// .checkbox__text
	&__text {
		position: relative;
		display: inline-flex;
		align-items: center;

		font-size: 16px;
		color: #ffffff;
		letter-spacing: -0.3px;
		line-height: calc(20 / 16);
		cursor: pointer;

		&:before {
			content: "";
			left: 0;
			top: 0;
			align-self: flex-start;

			width: 20px;
			height: 18px;
			flex: 0 0 20px;

			margin: 0px 14px 0px 0px;
			background: #fff;
			border: 1px solid #a7a9ac;
		}
	}

	a {
		color: #fff;
		text-decoration: underline;

		@media (min-width: 992px) {
			&:hover {
				text-decoration: none;
			}
		}
	}

	&._error {
		.checkbox__text {
			&:before {
				border: 1px solid #ee1212;
			}
		}
	}
}

//</CHECK>====================================================================================================

//<OPTIONS (opt+tab)>====================================================================================================
.options {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	// .options__item
	&__item {
		position: relative;
		cursor: pointer;

		&._error {}
	}

	// .options__input
	&__input {
		position: absolute;
		left: 0;
		top: 0;

		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;

		&:checked+.options__text:before {}

		&:checked+.options__text:after {
			transform: scale(1);
		}
	}

	// .options__text
	&__text {
		position: relative;
		display: inline-flex;
		align-items: center;

		font-size: 16px;
		color: #ffffff;
		letter-spacing: -0.3px;
		line-height: calc(20 / 16);

		&:before {
			content: "";
			left: 0;
			top: 0;
			align-self: flex-start;

			width: 20px;
			height: 18px;
			flex: 0 0 20px;

			margin: 0px 14px 0px 0px;
			background: #fff;
			border: 1px solid #a7a9ac;
			border-radius: 50%;
		}

		&:after {
			content: "";
			position: absolute;
			left: 5px;
			top: 4px;

			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: #77243a;

			transition: all 0.3s ease 0s;
			transform: scale(0);
		}
	}
}

//</OPTIONS>====================================================================================================

//<RATING>====================================================================================================
.rating {
	display: flex;
	align-items: flex-end;
	font-size: 40px;
	line-height: 0.75;
	transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
	opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
	cursor: pointer;
}

.rating__body {
	position: relative;
}

.rating__body::before {
	content: "★★★★★";
	display: block;
}

.rating__active {
	position: absolute;
	top: 0;
	left: 0;

	width: 0%;
	height: 100%;
	overflow: hidden;
}

.rating__active::before {
	content: "★★★★★";
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	color: #ffd300;
}

.rating__items {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
}

.rating__item {
	flex: 0 0 20%;
	height: 100%;
	opacity: 0;
}

.rating__value {
	font-size: 50%;
	line-height: 1;
	padding: 0px 0px 0px 10px;
}

//</RATING>====================================================================================================

//<QUANTITY>====================================================================================================
.quantity {
	display: flex;
	width: 88px;
	height: 40px;
	border: 1px solid rgba(166, 166, 166, 0.45);

	// .quantity__button
	&__button {
		position: relative;
		flex: 0 0 30px;
		cursor: pointer;

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;

			width: 9px;
			height: 1px;
			margin: 0px 0px 0px -4.5px;
			background-color: #a6a6a6;

			transition: all 0.3s ease 0s;
		}

		@media (min-width: $md2+px) {
			&:hover {

				&::before,
				&::after {
					background-color: rgba(0, 0, 0, 0.5);
				}
			}
		}

		// .quantity__button_plus
		&_plus {
			&::before {
				transform: rotate(-90deg);
			}
		}

		// .quantity__button_minus
		&_minus {}
	}

	// .quantity__input
	&__input {
		flex: 1 1 auto;

		input {
			color: #a6a6a6;
			font-size: 12px;
			text-align: center;

			height: 100%;
			width: 100%;
		}
	}
}

//</QUANTITY>====================================================================================================

//<RANGE>====================================================================================================

//</RANGE>====================================================================================================