//<МИКСИНЫ>===============================================================================================
@import 'mixins';
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import 'fonts';
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900);

//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: 'Inter';
$fontSize: 16px;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1100;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #fff;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import 'null';

body {
	font-family: $fontFamily;
	font-size: $fontSize;
	color: $mainColor;

	&._lock {
		overflow: hidden;
	}

	counter-reset: listCounter;
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	display: flex;
	flex-direction: column;

	width: 100%;
	min-height: 100%;
	overflow: hidden;

	&._loaded {
	}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;

	@media (max-width: $md1+px) {
		max-width: 970px;
	}

	@media (max-width: $md2+px) {
		max-width: 750px;
	}

	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import 'forms';
@import 'ui';
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import 'popup';
@import 'header';
@import 'footer';
@import 'home';
@import 'category';
@import 'card';
@import 'nouislider';
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	z-index: 10;
	background: #131212 linear-gradient(to bottom, transparent 0%, #131212 10%);

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;

		width: 100%;
		height: 100%;
		background: rgba(15, 15, 15, 0.64);
		backdrop-filter: blur(4px);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all 0.2s ease 0s;
	}

	body._lock & {
		&::before {
			opacity: 1;
			pointer-events: all;
			visibility: visible;
		}
	}

	// .page__image
	&__image {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;

		width: 100%;
		height: 100%;
		opacity: 0.36;

		background: linear-gradient(360deg, #131212 18.92%, rgba(19, 18, 18, 0.610513) 61.46%, rgba(19, 18, 18, 0.19) 85.04%), url('../img/bg.jpg') 0 0 / cover no-repeat;
	}

	// .page__home
	&__home {
	}

	// .page__services
	&__services {
	}

	// .page__reviews
	&__reviews {
	}

	// .page__order
	&__order {
	}

	//.page__container
	&__container {
	}

	// .page__flex-container
	&__flex-container {
		max-width: 1440px;
		margin: 71px auto 0;

		@media (min-width: 800+px) {
			display: flex;
		}

		@media (max-width: 800+px) {
			flex-direction: column;
		}
	}

	// .page__sidebar
	&__sidebar {
		flex: 0 0 276px;

		@media (max-width: 800+px) {
			@include adaptiv-value('margin-bottom', 40, 20, 1);
		}

		@media (max-width: $md4+px) {
			flex: 1 1 100%;
			width: 100%;
		}
	}
	// .page__purchase
	&__purchase {
		flex: 0 0 783px;
	}

	// .page__order
	&__order {
		flex: 0 0 350px;
	}

	// .page__content
	&__content {
		position: relative;
		flex: 0 1 auto;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 40px 0px;
	}
}

//===================================================================================================================================
.home-page {
	padding: 140px 0px 0px 0px;

	// .home-page__container
	&__container {
	}

	// .home-page__bg
	&__bg {
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: -1;

		width: 100%;
		height: 100%;
		object-fit: cover;

		img {
			@media (max-width: $md2+px) {
				object-position: 70% 0%;
			}
		}
	}

	// .home-page__title
	&__title {
		font-family: 'Quarion';
		font-weight: 700;
		@include adaptiv-value('font-size', 48, 28, 1);
		line-height: 126.2%;
		color: #ffffff;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

		display: block;
		max-width: 600px;

		&:not(:last-child) {
			@include adaptiv-value('margin-bottom', 30, 20, 1);
		}

		@media (max-width: $md4+px) {
			max-width: 200px;
		}
	}

	// .home-page__text
	&__text {
		display: block;
		max-width: 350px;
		color: #ffffff;
		line-height: calc(18 / 14 * 100%);

		&:not(:last-child) {
			@include adaptiv-value('margin-bottom', 30, 20, 1);
		}

		span {
			font-weight: 700;
		}

		@media (max-width: $md4+px) {
			max-width: 270px;
		}
	}

	// .home-page__button
	&__button {
		width: 220px;
		margin: 0px 0px 200px 0px;
	}

	// .home-page__categories
	&__categories {
		margin: 0px 0px 50px 0px;
	}

	// .home-page__services
	&__services {
	}
}

.categories-home-page {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background: #0f0f0f;
	box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.25);
	border-radius: 11px;

	// .categories-home-page__item
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;

		height: 60px;
		padding: 0px 20px;
		cursor: pointer;

		&._active {
			height: 60px;
			background: linear-gradient(90deg, #e5453d -14.78%, #ff7a2e 451.57%);
			border-radius: 9px;

			a {
				color: #fff;
			}
		}
	}

	// .categories-home-page__link
	&__link {
		font-family: Quarion;
		color: #797979;
		font-size: 18px;
	}
}

.services {
	// .services__title
	&__title {
		padding: 0px 0px 0px 45px;
		background: url(../img/icons/flame.svg) 0 5px no-repeat;

		&:not(:last-child) {
			margin-bottom: 30px;
		}

		@media (max-width: $md3 + px) {
			background-position: 0 3px;
			background-size: 22px 22px;
		}
	}

	// .services__body
	&__body {
		display: grid;
		justify-items: center;
		gap: 30px;

		@media (min-width: 1120px) {
			grid-template-columns: repeat(3, minmax(280px, 1fr));
		}

		@media (min-width: $md3+px) {
			grid-template-columns: repeat(2, minmax(280px, 1fr));
		}

		@media (max-width: $md3+px) {
			grid-template-columns: 1fr;
		}
	}

	// .services__column
	&__column {
	}
}

.reviews {
	padding: 50px 0px;

	// .reviews__container
	&__container {
	}

	// .reviews__title
	&__title {
		padding: 0px 0px 0px 40px;
		background: url('../img/icons/star.svg') 0 center no-repeat;

		&:not(:last-child) {
			margin-bottom: 20px;
		}

		@media (max-width: $md3 + px) {
			background-position: 0 5px;
			background-size: 22px 22px;
		}
	}

	// .reviews__body
	&__body {
		display: grid;
		gap: 30px;
		align-items: end;
		@include adaptiv-value('margin-bottom', 40, 20, 1);

		@media (min-width: $md2 + px) {
			grid-template-columns: repeat(3, minmax(280px, 1fr));
		}

		@media (max-width: $md2 + px) {
			grid-template-columns: repeat(2, minmax(280px, 1fr));
		}

		@media (max-width: $md3 + px) {
			grid-template-columns: repeat(1, minmax(280px, 1fr));
		}
	}

	// .reviews__column
	&__column {
	}

	// .reviews__item
	&__item {
	}

	// .reviews__buttons
	&__buttons {
		display: flex;
		justify-content: center;

		@media (max-width: $md4+px) {
			flex-direction: column;
			align-items: center;
		}
	}

	// .reviews__show-more
	&__show-more {
		margin: 0px 10px;

		&:not(:last-child) {
			margin: 0px 0px 12px 0px;
		}

		@media (max-width: $md4+px) {
			padding: 17px;
			max-width: 275px;
			min-height: 50px;
		}
	}

	// .reviews__create-btn
	&__create-btn {
		display: inline-flex;
		justify-content: center;
		align-items: center;

		font-family: Inter;
		font-weight: 700;
		font-size: 14px;
		color: #ffffff;

		padding: 0px 23px;
		margin: 0px 10px;
		height: 50px;
		background: linear-gradient(180deg, #51b37f 0%, #298152 100%);
		border-radius: 10px;
		border: 1px solid rgba(82, 245, 159, 1);
		transition: all 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				background: linear-gradient(180deg, #2fde81 0%, #298152 100%);
			}
		}

		&:active {
			background: linear-gradient(180deg, #2fde81 0%, #298152 100%);
		}

		@media (max-width: $md4+px) {
			padding: 15px 23px 16px;
			min-height: 50px;
		}
	}
}

.item-reviews {
	background: #201e1e;
	border-radius: 15px;
	padding: 15px 20px;

	@media (max-width: 370px) {
		max-width: 300px;
	}

	// .item-reviews__content
	&__content {
		margin: 0px 0px 20px 0px;
	}

	.content-reviews {
		display: flex;
		justify-content: space-between;

		// .content-reviews__rate
		&__rate {
		}

		// .content-reviews__time
		&__time {
			font-family: Inter;
			font-size: 12px;
			line-height: 135.7%;
			color: #555555;
		}
	}

	.rate {
		// .rate__row
		&__row {
			display: flex;
		}

		// .rate__star
		&__star {
			width: 25px;
			height: 25px;
			background: linear-gradient(180deg, #51b37f 0%, #298152 100%);
			border-radius: 5px;
			margin: 0px 2px 0px 0px;

			&::before {
				content: '';
				display: inline-block;
				width: 25px;
				height: 25px;
				background: url('../img/icons/star-w.svg') center no-repeat;
			}
		}
	}

	// .item-reviews__heading
	&__heading {
		font-family: Inter;
		font-weight: 700;
		font-size: 20px;
		line-height: 135.7%;
		color: #ffffff;
		margin: 0px 0px 5px 0px;
	}

	// .item-reviews__text
	&__text {
		font-family: Inter;
		font-size: 14px;
		line-height: 135.7%;
		color: #ffffff;
		margin: 0px 0px 10px 0px;
	}

	// .item-reviews__author
	&__author {
		font-family: Inter;
		font-size: 12px;
		line-height: 135.7%;
		color: #555555;
	}
}

.order {
	margin: 0px 0px -65px 0px;

	@media (max-width: $md1+px) {
		margin: 0px 0px -600px 0px;
	}

	@media (max-width: $md3+px) {
		margin: 0px 0px -1180px 0px;
	}

	// .order__container
	&__container {
	}

	// .order__title
	&__title {
		padding: 0px 0px 0px 35px;
		background: url('../img/icons/order/questionmark.svg') 0 0 no-repeat;

		@media (max-width: $md3 + px) {
			background-size: 15px 23px;
		}
	}

	// .order__text
	&__text {
		font-family: Inter;
		font-weight: 500;
		font-size: 16px;
		line-height: 127.2%;
		color: #ffffff;

		max-width: 350px;
		padding: 0px 0px 0px 45px;
		margin: 0px 0px 60px 0px;

		@media (max-width: $md4+px) {
			display: none;
		}
	}

	// .order__body
	&__body {
		display: grid;
		grid-template-columns: repeat(4, minmax(255px, 1fr));

		@media (max-width: $md1+px) {
			grid-template-columns: repeat(2, 1fr);
			grid-row-gap: 40px;
		}

		@media (max-width: $md3+px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	// .order__column
	&__column {
		position: relative;
	}

	//.order__bg
	&__bg {
		position: absolute;
		top: 44.41%;
		left: 13.97%;
		z-index: 5;
	}

	//.order__bg_1
	&__bg_1 {
		transform: rotate(-19.1deg);
	}

	//.order__bg_2
	&__bg_2 {
		transform: rotate(6.85deg);
	}

	//.order__bg_3
	&__bg_3 {
		top: 60px;
		transform: rotate(0deg);
	}

	//.order__bg_4
	&__bg_4 {
		top: 104px;
		transform: rotate(4.43deg);
	}

	// .order__column-hover
	&__column-hover {
		margin: -90px 0px 0px 0px;
	}

	// .order__item
	&__item {
	}
}

.hover-column {
	position: relative;
	z-index: 20;
	opacity: 1;
	transition: opacity 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			opacity: 1;
		}
	}

	// .hover-column__bg
	&__bg {
		position: absolute;
		left: 13.97%;
	}

	//.hover-column__bg_1
	&__bg_1 {
		transform: rotate(-19.1deg);
	}

	//.hover-column__bg_2
	&__bg_2 {
		transform: rotate(6.85deg);
	}

	//.hover-column__bg_3
	&__bg_3 {
		top: -11px;
		transform: rotate(0);
	}

	//.hover-column__bg_4
	&__bg_4 {
		top: 34px;
		transform: rotate(4.43deg);
	}

	// .hover-column__img
	&__img {
		width: 55px;
		height: 55px;
		margin: 0 auto;
	}

	//.hover-column__img_1
	&__img_1 {
		background: url('../img/icons/order/hand-h.svg') 0 0 no-repeat;
	}

	//.hover-column__img_2
	&__img_2 {
		background: url('../img/icons/order/credit-cart-h.svg') 0 0 no-repeat;
	}

	//.hover-column__img_3
	&__img_3 {
		background: url('../img/icons/order/phone-h.svg') 0 0 no-repeat;
	}

	//.hover-column__img_4
	&__img_4 {
		background: url('../img/icons/order/checked-h.svg') 0 0 no-repeat;
	}
}

.item-order {
	position: relative;
	top: 44.41%;
	z-index: 10;

	//.item-order_1
	&_1 {
	}

	//.item-order_2
	&_2 {
	}

	//.item-order_3
	&_3 {
	}

	//.item-order_4
	&_4 {
	}

	// .item-order__image
	&__image {
		width: 55px;
		height: 55px;
		margin: 0 auto 15px;
	}

	//.item-order__image_1

	&__image_1 {
		background: url('../img/icons/order/hand.svg') 0 0 no-repeat;
	}

	//.item-order__image_2
	&__image_2 {
		background: url('../img/icons/order/credit-cart.svg') 0 0 no-repeat;
	}

	//.item-order__image_3
	&__image_3 {
		background: url('../img/icons/order/phone.svg') 0 0 no-repeat;
	}

	//.item-order__image_4
	&__image_4 {
		background: url('../img/icons/order/checked.svg') 0 0 no-repeat;
	}

	// .item-order__title
	&__title {
		color: #ffffff;
		font-family: Quarion;
		font-weight: 700;
		font-size: 20px;
		text-transform: uppercase;
		text-align: center;

		margin: 0px 0px 10px 0px;
	}

	// .item-order__text
	&__text {
		font-family: Inter;
		font-size: 16px;
		line-height: 127.2%;
		text-align: center;
		color: #9a9a9a;
		margin: 0px auto;
		max-width: 222px;
	}

	//.item-order__text_4
	&__text_4 {
		max-width: 250px;
	}
}

.orders {
	display: grid;
	grid-template-columns: repeat(4, minmax(255px, 1fr));
	gap: 30px;

	@media (max-width: $md1+px) {
		grid-template-columns: repeat(2, 1fr);
		grid-row-gap: 40px;
	}

	@media (max-width: $md3+px) {
		grid-template-columns: repeat(1, 1fr);
	}

	// .orders__item
	&__item {
		position: relative;
		z-index: 0;

		@media (max-width: $md1+px) {
			margin: 0 auto -50px;
		}
	}

	// .orders__img
	&__img {
	}

	// .orders__img--first
	&__img--first {
		transform: rotate(-19.1deg);
	}

	// .orders__img--second
	&__img--second {
		margin: 20px 0px 0px 0px;
		transform: rotate(6.85deg);
	}

	// .orders__img--third
	&__img--third {
		margin: -5px 0px 0px 0px;
	}

	// .orders__img--fourth
	&__img--fourth {
		margin: 38px 0px 0px 0px;
		transform: rotate(4.43deg);
	}

	// .orders__content
	&__content,
	.orders__content-hover {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		display: flex;
		flex-direction: column;
		align-items: center;

		padding: 10px;
		margin: 32px 0px 0px 0px;
	}

	// .orders__img-order
	&__img-order {
		margin-bottom: 15px;
	}

	// .orders__content-title
	&__content-title {
		color: #ffffff;
		font-family: Quarion;
		font-weight: 700;
		font-size: 20px;
		text-transform: uppercase;
		text-align: center;
		margin: 0px 0px 9px 0px;
	}

	// .orders__content-description
	&__content-description {
		line-height: 127.2%;
		text-align: center;
		color: #9a9a9a;
	}

	// .orders__item-hover
	&__item-hover {
		position: relative;
		z-index: 0;
		margin: -127% 0px 0px 0px;
		opacity: 0;
		transition: opacity 0.5s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				opacity: 1;
			}
		}

		@media (max-width: $md1+px) {
			margin: 0 auto;
		}
	}

	// .orders__content-hover
	&__content-hover {
		margin-top: 31px;
	}

	// .orders__img-order--hover
	&__img-order--hover {
	}

	// .orders__item-hover--first
	&__item-hover--first {
	}

	// .orders__item-hover--second
	&__item-hover--second {
	}

	// .orders__item-hover--third
	&__item-hover--third {
	}

	// .orders__item-hover--fourth
	&__item-hover--fourth {
	}
}

//</ОСНОВНОЙ БЛОК>====================================================================================================
