//<ОСНОВНОЙ БЛОК>====================================================================================================
.item-services {
	position: relative;
	max-height: 500px;
	max-width: 350px;
	cursor: pointer;

	@media (max-width: 370px) {
		max-width: 300px;
	}

	// .item-services__body
	&__body {
		position: relative;
		z-index: 5;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		width: 350px;
		height: 500px;
		padding: 10px 10px 25px 25px;

		@media (max-width: 370+px) {
			max-width: 280px;
			height: 390px;
			padding: 10px;
		}

		@media (any-hover: hover) {
			&:hover {
				&::before {
					opacity: 1;
				}
			}
		}

		&::before {
			content: '';
			position: absolute;
			z-index: 4;
			top: 0;
			left: 0;

			width: 101%;
			height: 100%;
			opacity: 0;
			border-radius: 20px;
			background: linear-gradient(17.36deg, #280a0a 36.96%, rgba(66, 20, 20, 0) 84.63%);
			transition: opacity 0.3s ease 0s;
		}
	}

	// .item-services__bg
	&__bg {
		position: absolute;
		top: 0;
		z-index: 5;

		img {
			border-radius: 20px;

			@media (max-width: 370px) {
				width: 280px;
			}
		}
	}

	// .item-services__header
	&__header {
		position: relative;
		z-index: 5;
	}

	// .item-services__content
	&__content {
		position: relative;
		z-index: 5;
	}

	// .item-services__info
	&__info {
	}

	// .item-services__title
	&__title {
		display: inline-block;
		max-width: 240px;

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	// .item-services__title-link
	&__title-link {
		color: #ffffff;
		font-family: Quarion;
		font-size: 22px;
		font-weight: 600;
		line-height: 135.7%;
		text-transform: uppercase;
	}

	// .item-services__features
	&__features {
		margin: 0px 0px 30px 0px;
	}

	// .item-services__feature
	&__feature {
		color: #52c5a9;
		font-family: Inter;
		font-weight: 500;
		font-size: 14px;
		list-style-type: disc;

		margin: 0px 0px 8px 20px;
	}

	// .item-services__footer
	&__footer {
		position: relative;
		z-index: 5;
	}
}

.header-labels {
	display: flex;
	row-gap: 5px;
	column-gap: 10px;
	flex-wrap: wrap;
	justify-content: space-between;

	// .header-labels__item
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;

		font-family: 'Quarion';
		font-size: 14px;
		font-weight: 600;
		line-height: 135.7%;
		color: #ffffff;

		height: 32px;
		border-radius: 10px;
	}

	// .header-labels__eta
	&__eta {
		span {
			padding: 0px 0px 0px 35px;
			background: url('../img/icons/Clock.svg') 0 center no-repeat;
		}
	}

	// .header-labels__server
	&__server {
		padding: 0px 30px;
		background: linear-gradient(90deg, rgba(96, 201, 70, 0.54) -14.78%, #2fff91 451.57%);
	}

	// .header-labels__stock
	&__stock {
		padding: 0px 12px;
		background-color: #5b5b5b;

		span {
			padding: 0px 0px 0px 35px;
			background: url('../img/icons/out-of-stock.svg') 0 center no-repeat;
		}
	}

	// .header-labels__hot
	&__hot {
		font-size: 16px;
		text-transform: uppercase;
		padding: 0px 12px;
		background-color: #f1433a;

		span {
			padding: 0px 0px 0px 35px;
			background: url('../img/icons/hot.svg') 0 0 no-repeat;
		}
	}

	// .header-labels__sale
	&__sale {
		font-size: 16px;
		text-transform: uppercase;
		padding: 0px 12px;
		background-color: #45d7b3;

		span {
			padding: 0px 0px 0px 26px;
			background: url('../img/icons/sale.svg') 0 center no-repeat;
		}
	}

	// .header-labels__shadowlands
	&__shadowlands {
		padding: 0px 25px;
		background: linear-gradient(90deg, rgba(229, 69, 61, 0.6) -14.78%, rgba(255, 122, 46, 0.6) 451.57%);
	}
}

.item-footer {
	display: flex;
	justify-content: space-between;
	width: 100%;

	// .item-footer__price
	&__price {
		font-family: 'Quarion';
		font-weight: 600;
		font-size: 30px;
		color: #ffffff;
	}

	// .item-footer__price-text
	&__price-text {
		display: block;
		font-family: 'Inter';
		font-size: 14px;
		letter-spacing: -0.025em;
		color: #6c6c6c;

		margin: 0px 0px 5px 0px;
	}

	// .item-footer__price-value
	&__price-value {
		&::before {
			padding: 0px 6px 0px 0px;
		}
	}

	// .item-footer__button
	&__button {
		display: inline-block;
		font-family: Inter;
		font-weight: 700;
		font-size: 20px;
		line-height: 127.2%;
		letter-spacing: -0.025em;
		color: #ffffff;

		padding: 15px 23px;
		background: #f1433a;
		box-shadow: 0px 4px 39px rgba(231, 87, 87, 0.25);
		border-radius: 15px;
	}
}

//========================================================================================================================================================
.sidebar {
	background: #1b1919;

	// .sidebar__container
	&__container {
		@media (max-width: $md3+px) {
			padding: 0px 0px 0px 0px;
			background: #000;
		}
	}

	// .sidebar__header
	&__header {
		font-family: 'Quarion';
		font-size: 14px;
		line-height: 126.2%;
		color: rgba(255, 255, 255, 0.39);

		height: 115px;
		background: url('../img/category/sidebar-bg.jpg') 0 0 no-repeat;

		@media (max-width: 800+px) {
			height: 95px;
			background: url('../img/category/sidebar-bg-mobile.jpg') 0 0 / cover no-repeat;
		}

		span {
			display: block;
			font-weight: 600;
			font-size: 18px;
			color: #ffffff;
		}
	}

	// .sidebar__title
	&__title {
		position: relative;
		z-index: 10;
		padding: 18px 0px 0px 20px;
	}

	// .sidebar__button
	&__button {
		position: absolute;
		top: 20px;
		right: 10px;
		z-index: 10;

		width: 35px;
		height: 35px;
		border-radius: 5px;
		background: linear-gradient(90deg, rgba(229, 69, 61, 0.6) -14.78%, rgba(255, 122, 46, 0.6) 451.57%);
		cursor: pointer;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 10px;
			height: 6px;
			transform: translate(-50%, -50%);
			background: url('../img/icons/arrow-down.svg') 0 0 no-repeat;
		}
	}

	// .sidebar__categories
	&__categories {
		display: grid;
		padding: 25px 0px 20px;
		@media (min-width: 801+px) {
			max-width: 276px;
		}

		@media (max-width: 800+px) {
			grid-gap: 10px;
			grid-template-columns: repeat(3, 1fr);

			background: #000;
			@include adaptiv-value('padding', 10, 5, 1);
		}

		@media (max-width: 700+px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: $md4+px) {
			grid-template-columns: repeat(2, minmax(170px, 1fr));
		}
		@media (max-width: 400px) {
			grid-template-columns: 1fr;
		}
	}

	// .sidebar__category
	&__category {
		@media (min-width: 801px) {
			padding-left: 20px;
			&:not(:last-child) {
				@include adaptiv-value('margin-bottom', 30, 20, 1);
			}
		}
		@media (max-width: 800+px) {
			background: #1b1919;
			border-radius: 8px;
			padding: 0px 0px 0px 20px;
			height: fit-content;
		}
		@media (max-width: $md4+px) {
			padding: 0px 0px 0px 0px;
		}
	}

	// .sidebar__category-title
	&__category-title {
		display: flex;
		align-items: center;

		height: 50px;
		position: relative;

		font-size: 18px;
		transition: all 0.3s ease 0s;
		background: url('../img/icons/categories/Medal.svg') 0 center no-repeat;
		cursor: pointer;
		span {
			font-family: Quarion;
			color: #797979;
			line-height: 137.5%;
			padding: 0px 35px 0px 35px;
			@media (max-width: $md4+px) {
				padding-right: 25px;
			}
		}

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			right: 10px;

			width: 16px;
			height: 16px;
			background: url('../img/icons/Plus.svg') right 0 no-repeat;
			transition: transform 0.3s ease 0s;
			transform: translate(0px, -50%);

			@media (max-width: $md4+px) {
				right: 10px;
			}

			@media (max-width: 320px) {
				right: 5px;
			}
		}

		&._active {
			color: rgba(229, 69, 61, 1);
			background: url('../img/icons/categories/Medal-hover.svg') 0 center no-repeat;

			&::after {
				transform: translate(0px, -50%) rotate(45deg);
			}
		}

		@media (any-hover: hover) {
			&:hover {
				color: rgba(229, 69, 61, 1);
				background: url('../img/icons/categories/Medal-hover.svg') 0 center no-repeat;
			}
		}

		@media (max-width: $md4+px) {
			padding: 0px 15px;
			background: none;
			span {
				font-size: 16px;
				padding-left: 0;
			}

			&._active {
				background: none;
			}

			@media (any-hover: hover) {
				&:hover {
					background: none;
				}
			}
		}
	}

	// .sidebar__categories-list
	&__categories-list {
		position: relative;
		z-index: 10;

		width: 100%;
		padding: 10px 20px 10px 40px;
		background: #1b1919;
		border-radius: 20px;

		@media (max-width: $md4+px) {
			padding: 10px 10px 10px 15px;
		}
	}

	// .sidebar__category-item
	&__category-item {
		font-family: Quarion;
		font-size: 18px;
		line-height: 135.7%;
		color: #989898;

		display: block;
		cursor: pointer;

		&:not(:last-child) {
			margin: 0px 0px 10px 0px;
		}

		@media (any-hover: hover) {
			&:hover {
				color: #fff;
			}
		}
	}
}

//========================================================================================================================================================
.breadcrumbs {
	@media (min-width: 800+px) {
		padding-bottom: 20px;
	}
	@media (max-width: 800px) {
		padding: 91px 20px 20px;
		overflow: auto;
	}

	// .breadcrumbs__list
	&__list {
		display: flex;

		li {
			padding: 0 7px 0 18px;
			background: url('../img/icons/CaretRight.svg') left 3px no-repeat;

			&:first-child {
				padding: 0px 7px 0px 0px;
				background: none;
			}

			@media (max-width: $md4+px) {
				white-space: nowrap;
			}
		}
	}

	// .breadcrumbs__link
	&__link {
		font-family: 'Inter';
		font-size: 14px;
		line-height: 135.7%;
		letter-spacing: -0.04em;
		color: #ffffff;

		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

//========================================================================================================================================================

._title {
	span {
		display: inline-block;
		font-family: Quarion;
		@include adaptiv-value('font-size', 32, 20, 1);
		font-weight: 700;
		line-height: 135.7%;
		text-transform: uppercase;
		color: #ffffff;
	}
}

._btn-trustpilot {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	font-family: Inter;
	font-size: 14px;
	color: #ffffff;

	height: 50px;
	padding: 0px 17px;

	border-radius: 10px;
	border: 1px solid rgba(81, 179, 127, 0.06);
	transition: all 0.3s ease 0s;
	background: rgba(81, 179, 127, 0.06);

	@media (any-hover: hover) {
		&:hover {
			background: rgba(81, 179, 127, 0.27);
		}
	}

	&:active {
		background: rgba(81, 179, 127, 0.27);
		box-shadow: inset 0px 4px 14px rgba(0, 0, 0, 0.57);
	}

	span {
		display: inline-block;
		width: 81px;
		height: 20px;
		margin: 0px 0px 0px 10px;
		background: url('../img/icons/Group.svg') 0 calc(50% - 2px) no-repeat;
	}
}

//========================================================================================================================================================

._get-service-btn {
	display: flex;
	justify-content: center;
	align-items: center;

	color: #ffffff;
	font-family: Inter;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: -0.025em;

	padding: 20px 0px;
	background: #f1433a;
	box-shadow: 0px 4px 39px rgba(231, 87, 87, 0.25);
	border-radius: 15px;
	transition: all 0.3s ease 0s;

	&:active {
		background: #f1433a;
		box-shadow: 0px 4px 39px rgba(231, 87, 87, 0.25), inset 0px 4px 26px rgba(79, 8, 8, 0.61);
	}

	@media (any-hover: hover) {
		&:hover {
			background: #fc4339;
			box-shadow: 0px 4px 39px rgba(231, 87, 87, 0.25);
		}
	}
}

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ГОТОВЫЕ КЛАССЫ>====================================================================================================
.row:after {
	display: block;
	content: '';
	clear: both;
}

.rub:after {
	content: '₽';
}

.eur::before {
	content: '€';
}

//====================================================================================================
%noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

//====================================================================================================
ol.counter {
	list-style-type: none;
	counter-reset: item;

	li {
		position: relative;
		padding: 0px 0px 0px 45px;

		&:before {
			position: absolute;
			left: 0;
			top: 0;

			color: #818181;
			font-size: 14px;
			font-weight: 700;
			text-align: center;
			line-height: 26px;

			width: 28px;
			height: 28px;
			border: 1px solid #4274bb;
			border-radius: 50%;
			counter-increment: item;
			content: counter(item);
		}
	}
}

//====================================================================================================
.ellipsis {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.es {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

//====================================================================================================
.table {
	display: table;
	font-size: 0;
	width: 100%;
	//table-layout: fixed;
}

.trow {
	display: table-row;
}

.cell {
	display: table-cell;

	&.full {
		width: 100%;
	}
}

//====================================================================================================
._ibg {
	position: relative;

	img {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

body.ie {
	._ibg {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	._ibg img {
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
	}
}

//====================================================================================================
._video {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;

	video,
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.videobg {
	video,
	iframe,
	object,
	embed {
		position: fixed;
		top: 50%;
		left: 50%;
		z-index: -100;

		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;

		transform: translateX(-50%) translateY(-50%);
		background-size: cover;
	}
}

//====================================================================================================
// ._more-block
._more-block {
}

// ._more-content
._more-content {
	transition: all 0.3s ease 0s;
	overflow: hidden;
}

// ._more-item
._more-item {
}

// ._more-link
._more-link {
	cursor: pointer;

	span {
		font-style: normal;

		&:first-child {
			display: block;
		}

		&:last-child {
			display: none;
		}
	}

	&._active {
		span {
			font-style: normal;

			&:first-child {
				display: none;
			}

			&:last-child {
				display: block;
			}
		}
	}
}

//====================================================================================================
%graystyle {
	transition: all 0.3s ease 0s;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}

%graystyleoff {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
}

//====================================================================================================
#map {
	background: url('../img/icons/loading.gif') center / 50px no-repeat;
}

//====================================================================================================
._swiper {
	overflow: hidden;

	//.swiper-wrapper
	.swiper-wrapper {
		display: flex;
		position: relative;

		width: 100%;
		height: 100%;
		box-sizing: content-box;
	}

	&.swiper-container-vertical {
		.swiper-wrapper {
			flex-direction: column;
		}
	}

	&.swiper-container-autoheight {
		.swiper-wrapper {
			align-items: flex-start;
		}
	}
}

.swiper-container-initialized {
	.swiper-slide {
		flex-shrink: 0;
		// transition-property: transform;
	}
}

.swiper-container-android {
	.swiper-slide,
	.swiper-wrapper {
		transform: translate3d(0px, 0, 0);
	}
}

.swiper-button-lock {
	display: none !important;
}

//====================================================================================================
._tabs {
}

._tabs-item {
}

._tabs-block {
	display: none;

	&._active {
		display: block;
	}
}

//=====================================================================================================================
.mirror {
	transform: scale(-1, 1);
}

//=====================================================================================================================
.nicescroll-rails {
	z-index: 1000 !important;
}

//========================================================================================================================================================

//========================================================================================================================================================
._custom-scroll {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;

	width: 3px;
	height: 100%;

	//background-color: rgba(0, 0, 0, 0.1);
	&__line {
		position: relative;
		left: 0;
		top: 0;

		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 3px 0 0 3px;
		width: 100%;
	}
}

//</ГОТОВЫЕ КЛАССЫ>====================================================================================================
