@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900);

@font-face {
  font-family: "Quarion";
  font-display: swap;
  src: url("../fonts/Quarion-Bold.woff") format("woff"), url("../fonts/Quarion-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Quarion";
  font-display: swap;
  src: url("../fonts/Quarion-ExtraBold.woff") format("woff"), url("../fonts/Quarion-ExtraBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Quarion";
  font-display: swap;
  src: url("../fonts/Quarion-Medium.woff") format("woff"), url("../fonts/Quarion-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Quarion";
  font-display: swap;
  src: url("../fonts/Quarion-SemiBold.woff") format("woff"), url("../fonts/Quarion-SemiBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Inter";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: "Inter";
  font-size: 16;
  color: #fff;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1100px;
  margin: 0 auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  padding: 0px 15px;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.select__options {
  position: absolute;
  top: 29px;
  left: 0;
  color: #000;
  font-size: 14px;
  min-width: 100%;
  background-color: #fff;
  padding: 10px 0px 5px 0px;
  border-radius: 0 0 4px 4px;
  border: 1px solid #d9d9d9;
  border-top: 0;
}

.select__option {
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
  cursor: pointer;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  display: block;
  width: 100%;
  padding: 0px 20px;
  border-radius: 0 !important;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  left: 0;
  top: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 20px;
  height: 18px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  margin: 0px 14px 0px 0px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  left: 0;
  top: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 20px;
  height: 18px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  margin: 0px 14px 0px 0px;
  background: #fff;
  border: 1px solid #a7a9ac;
  border-radius: 50%;
}

.options__text:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 88px;
  height: 40px;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 9px;
  height: 1px;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  color: #a6a6a6;
  font-size: 12px;
  text-align: center;
  height: 100%;
  width: 100%;
}

._title {
  display: inline-block;
  font-family: Quarion;
  font-size: 32px;
  font-weight: 700;
  line-height: 135.7%;
  text-transform: uppercase;
  color: #FFFFFF;
}

._btn-trustpilot {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Inter;
  font-size: 14px;
  color: #FFFFFF;
  height: 50px;
  padding: 0px 17px;
  border-radius: 10px;
  border: 1px solid rgba(81, 179, 127, 0.06);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: rgba(81, 179, 127, 0.06);
}

._btn-trustpilot:active {
  background: rgba(81, 179, 127, 0.27);
  -webkit-box-shadow: inset 0px 4px 14px rgba(0, 0, 0, 0.57);
          box-shadow: inset 0px 4px 14px rgba(0, 0, 0, 0.57);
}

._btn-trustpilot span {
  display: inline-block;
  width: 81px;
  height: 20px;
  margin: 0px 0px 0px 10px;
  background: url("../img/icons/Group.svg") 0 calc(50% - 2px) no-repeat;
}

._get-service-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  font-family: Inter;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.025em;
  padding: 20px 0px;
  background: #F1433A;
  -webkit-box-shadow: 0px 4px 39px rgba(231, 87, 87, 0.25);
          box-shadow: 0px 4px 39px rgba(231, 87, 87, 0.25);
  border-radius: 15px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

._get-service-btn:active {
  background: #F1433A;
  -webkit-box-shadow: 0px 4px 39px rgba(231, 87, 87, 0.25), inset 0px 4px 26px rgba(79, 8, 8, 0.61);
          box-shadow: 0px 4px 39px rgba(231, 87, 87, 0.25), inset 0px 4px 26px rgba(79, 8, 8, 0.61);
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
  border-radius: 50%;
  counter-increment: item;
  content: counter(item);
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -100;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 3px;
  height: 100%;
}

._custom-scroll__line {
  position: relative;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  width: 100%;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  padding: 30px 10px;
  visibility: hidden;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  -webkit-overflow-scrolling: touch;
}

.popup::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.popup__body {
  width: 100%;
  max-width: 800px;
  padding: 50px;
  background-color: #fff;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.popup__close {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 30;
  width: 15px;
  height: 15px;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
  cursor: pointer;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background: rgba(20, 20, 20, 0.12);
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0px;
}

.header__logo {
  padding: 0px 35px 0px 0px;
}

.header__logo img {
  width: 54px;
  height: 39px;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 22px 0px 0px;
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actions-header__cart {
  padding: 0px 13px 0px 0px;
  cursor: pointer;
}

.actions-header__cart img {
  width: 20px;
  height: 20px;
}

.actions-header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  padding: 0px 11px 0px 0px;
}

.actions-header__search {
  color: #757575;
  font-family: Inter;
  font-size: 14px;
  line-height: 127.2%;
  letter-spacing: -0.025em;
  padding: 9px 0px 9px 19px;
  background: rgba(3, 3, 3, 0.34);
  border-radius: 8px 0 0 8px;
}

.actions-header__search-btn {
  padding: 9px;
  height: 100%;
  background: rgba(3, 3, 3, 0.34);
  border-radius: 0px 8px 8px 0px;
}

.actions-header__search-btn img {
  width: 16px;
  height: 16px;
}

.actions-header__servers {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 84px;
          flex: 0 0 84px;
  color: #757575;
  font-family: Quarion;
  font-size: 16px;
  letter-spacing: -0.025em;
  height: 35px;
  background: rgba(3, 3, 3, 0.34);
  border-radius: 8px;
}

.actions-header__server {
  font-family: Quarion;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.actions-header__server._active {
  color: #F1433A;
}

.menu__service-button {
  display: none;
}

.menu__categories {
  display: none;
}

.menu__categories-item {
  position: relative;
}

.menu__categories-item:not(:last-child) {
  margin: 0px 0px 22px 0px;
}

.menu__categories-link {
  font-family: Quarion;
  font-size: 18px;
  line-height: 135.7%;
  color: #797979;
  padding: 0px 0px 0px 36px;
  background: url("../img/icons/categories/Medal.svg") 0 0 no-repeat;
}

.menu__categories-link:active {
  background: url("../img/icons/categories/Medal-hover.svg") 0 0 no-repeat;
  color: #e5453d;
}

.menu__logo {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  padding: 0px 29px 0px 0px;
}

.menu__link {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  line-height: 127.2%;
  letter-spacing: -0.025em;
}

.footer {
  position: relative;
  z-index: 50;
  padding-top: 50px;
  padding-bottom: 17px;
  background: #181818;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 35px 0px;
}

.footer__logo {
  display: block;
  text-align: center;
  margin: 0px 0px 23px 0px;
}

.footer__copy {
  font-size: 12px;
  line-height: 127.2%;
  text-align: center;
  color: #9A9A9A;
}

.menu-footer__item:not(:last-child) {
  margin: 0px 0px 12px 0px;
}

.menu-footer__link {
  font-size: 14px;
  line-height: 135.7%;
  color: #C6C6C6;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.social-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  width: 70px;
  margin: 0px 0px 16px 0px;
}

.social-footer__item {
  cursor: normal;
}

.social-footer__item:last-child {
  margin: 0px 0px 0px 41px;
}

.social-footer__item:not(:last-child) {
  margin: 0px 0px 16px 0px;
}

.social-footer__link {
  display: inline-block;
  width: 29px;
  height: 29px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social-footer__link_facebook {
  background: url("../img/icons/social/facebook.svg") 0 0 no-repeat;
}

.social-footer__link_instagram {
  background: url("../img/icons/social/instagram.svg") 0 0 no-repeat;
}

.social-footer__link_discourd {
  background: url("../img/icons/social/discourd.svg") 0 0 no-repeat;
}

.social-footer__link_skype {
  background: url("../img/icons/social/skype.svg") 0 0 no-repeat;
}

.social-footer__link_telegram {
  background: url("../img/icons/social/telegram.svg") 0 0 no-repeat;
}

.social-footer__mail {
  font-weight: 600;
  color: #C6C6C6;
}

.sidebar {
  background: #1B1919;
  margin: 0px 40px 0px 0px;
}

._no-webp .sidebar__header{
  background: url("../img/category/sidebar-bg.jpg") 0 0 no-repeat; }

.sidebar__header {
  font-family: "Quarion";
  font-size: 14px;
  line-height: 126.2%;
  color: rgba(255, 255, 255, 0.39);
  height: 115px;
}

.sidebar__header span {
  display: block;
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
}

.sidebar__title {
  position: relative;
  z-index: 10;
  padding: 18px 0px 0px 40px;
}

.sidebar__button {
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 10;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, right top, color-stop(-14.78%, rgba(229, 69, 61, 0.6)), color-stop(451.57%, rgba(255, 122, 46, 0.6)));
  background: -o-linear-gradient(left, rgba(229, 69, 61, 0.6) -14.78%, rgba(255, 122, 46, 0.6) 451.57%);
  background: linear-gradient(90deg, rgba(229, 69, 61, 0.6) -14.78%, rgba(255, 122, 46, 0.6) 451.57%);
  cursor: pointer;
}

.sidebar__button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 6px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url("../img/icons/arrow-down.svg") 0 0 no-repeat;
}

.sidebar__categories {
  width: 276px;
  padding: 25px 0px 20px;
}

.sidebar__category {
  margin: 0px 0px 0px 40px;
}

.sidebar__category-title {
  font-family: Quarion;
  font-size: 18px;
  color: #797979;
  line-height: 137.5%;
  position: relative;
  display: block;
  padding: 0px 0px 0px 38px;
  margin: 0px 0px 20px 0px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: url("../img/icons/categories/Medal.svg") 0 center no-repeat;
  cursor: pointer;
}

.sidebar__category-title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  width: 16px;
  height: 16px;
  background: url("../img/icons/Plus.svg") 0 0 no-repeat;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

.sidebar__category-title._active {
  color: #e5453d;
  background: url("../img/icons/categories/Medal-hover.svg") 0 center no-repeat;
}

.sidebar__category-title._active::after {
  -webkit-transform: translate(0px, -50%) rotate(45deg);
      -ms-transform: translate(0px, -50%) rotate(45deg);
          transform: translate(0px, -50%) rotate(45deg);
}

.sidebar__categories-list {
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 10px 20px 10px 40px;
  background: #1B1919;
  border-radius: 20px;
}

.sidebar__category-item {
  font-family: Quarion;
  font-size: 18px;
  line-height: 135.7%;
  color: #989898;
  display: block;
  cursor: pointer;
}

.sidebar__category-item:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.content__body {
  padding: 20px 0px 0px 0px;
}

.content__categories {
  margin: 0px 0px 25px 0px;
}

.breadcrumbs {
  margin: 0px 0px 25px 0px;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs__list li {
  padding: 0 7px 0 18px;
  background: url("../img/icons/CaretRight.svg") left 3px no-repeat;
}

.breadcrumbs__list li:first-child {
  padding: 0px 7px 0px 0px;
  background: none;
}

.breadcrumbs__link {
  font-family: Inter;
  font-size: 14px;
  line-height: 135.7%;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}

._no-webp .content__bg{
  background: -webkit-gradient(linear, left bottom, left top, color-stop(18.92%, #131212), color-stop(61.46%, rgba(19, 18, 18, 0.610513)), color-stop(85.04%, rgba(19, 18, 18, 0.19))), url(../img/bg.jpg) 0 0 no-repeat; }

._no-webp .content__bg{
  background: -o-linear-gradient(bottom, #131212 18.92%, rgba(19, 18, 18, 0.610513) 61.46%, rgba(19, 18, 18, 0.19) 85.04%), url(../img/bg.jpg) 0 0 no-repeat; }

._no-webp .content__bg{
  background: linear-gradient(360deg, #131212 18.92%, rgba(19, 18, 18, 0.610513) 61.46%, rgba(19, 18, 18, 0.19) 85.04%), url(../img/bg.jpg) 0 0 no-repeat; }

.content__bg {
  position: absolute;
  top: -71px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.36;
}

.content__bg::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 71px;
  background: #131212;
}

.content__title {
  padding: 0px 0px 0px 45px;
  margin: 50px 0px 20px 0px;
  background: url("../img/icons/CrownSimple.svg") 0 center no-repeat;
}

.content__text {
  font-weight: 500;
  line-height: 150.7%;
  color: #C7C7C7;
  max-width: 720px;
}

.content__text:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.content__text span {
  color: #fff;
  font-weight: 700;
}

.leveling__title {
  font-weight: 700;
  line-height: 150.7%;
  color: #FFFFFF;
  margin: 0px 0px 20px 0px;
}

.leveling__list {
  margin: 0px 0px 20px 0px;
}

.leveling__item {
  padding: 0px 0px 0px 27px;
  background: url("../img/icons/CheckCircle.svg") 0 center no-repeat;
}

.leveling__item:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  z-index: 10;
  background: #131212;
}

.page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(15, 15, 15, 0.64);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

body._lock .page::before {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.page__sidebar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 276px;
          flex: 0 0 276px;
}

.page__content {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 40px 0px;
}

.page__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1440px;
  margin: 71px auto 0;
}

.home-page {
  padding: 140px 0px 0px 0px;
}

.home-page__bg {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-page__title {
  font-family: "Quarion";
  font-weight: 700;
  font-size: 48px;
  line-height: 126.2%;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: block;
  max-width: 600px;
}

.home-page__title:not(:last-child) {
  margin-bottom: 30px;
}

.home-page__text {
  display: block;
  max-width: 350px;
  color: #FFFFFF;
  line-height: calc(18/ 14 * 100%);
}

.home-page__text:not(:last-child) {
  margin-bottom: 30px;
}

.home-page__text span {
  font-weight: 700;
}

.home-page__button {
  width: 220px;
  margin: 0px 0px 200px 0px;
}

.home-page__categories {
  margin: 0px 0px 50px 0px;
}

.categories-home-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #0F0F0F;
  -webkit-box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
}

.categories-home-page__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  padding: 0px 20px;
  cursor: pointer;
}

.categories-home-page__item._active {
  height: 60px;
  background: -webkit-gradient(linear, left top, right top, color-stop(-14.78%, #E5453D), color-stop(451.57%, #FF7A2E));
  background: -o-linear-gradient(left, #E5453D -14.78%, #FF7A2E 451.57%);
  background: linear-gradient(90deg, #E5453D -14.78%, #FF7A2E 451.57%);
  border-radius: 9px;
}

.categories-home-page__item._active a {
  color: #fff;
}

.categories-home-page__link {
  font-family: Quarion;
  color: #797979;
  font-size: 18px;
}

.services {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(10%, #131212));
  background: -o-linear-gradient(top, transparent 0%, #131212 10%);
  background: linear-gradient(to bottom, transparent 0%, #131212 10%);
}

.services__title {
  position: relative;
  margin: 0px 0px 35px 0px;
  padding: 0px 0px 0px 45px;
}

.services__title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../img/icons/flame.svg) 0 0 no-repeat;
}

.services__body {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 25px;
}

.services .item-services {
  position: relative;
  max-width: 350px;
  cursor: pointer;
}

.services .item-services::before {
  content: "";
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: -o-linear-gradient(72.64deg, #280A0A 36.96%, rgba(66, 20, 20, 0) 84.63%);
  background: linear-gradient(17.36deg, #280A0A 36.96%, rgba(66, 20, 20, 0) 84.63%);
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.services .item-services__body {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  height: 500px;
  padding: 10px 10px 25px 25px;
}

.services .item-services__bg {
  position: absolute;
  z-index: 5;
}

.services .item-services__bg img {
  border-radius: 20px;
}

.services .item-services__title {
  color: #FFFFFF;
  font-family: Quarion;
  font-size: 22px;
  font-weight: 600;
  line-height: 135.7%;
  text-transform: uppercase;
  margin: 0px 0px 10px 0px;
}

.services .item-services__features {
  padding: 0px 0px 30px 0px;
}

.services .item-services__feature {
  color: #52C5A9;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  list-style-type: disc;
  margin: 0px 0px 8px 20px;
}

.services .item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #FFFFFF;
  font-family: Quarion;
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
}

.services .item-header > div {
  max-height: 32px;
}

.services .item-header > div:not(:last-child) {
  margin: 0px 0px 5px 0px;
}

.services .item-header__speed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .item-header__speed span {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 0px 0px 0px 30px;
  background: url("../img/icons/Clock.svg") 0 center no-repeat;
}

.services .item-header__server {
  background: -webkit-gradient(linear, left top, right top, color-stop(-14.78%, rgba(96, 201, 70, 0.54)), color-stop(451.57%, #2FFF91));
  background: -o-linear-gradient(left, rgba(96, 201, 70, 0.54) -14.78%, #2FFF91 451.57%);
  background: linear-gradient(90deg, rgba(96, 201, 70, 0.54) -14.78%, #2FFF91 451.57%);
  border-radius: 10px;
  padding: 8px 30px;
}

.services .item-header__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Quarion;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  border-radius: 8px;
  background-color: #5B5B5B;
  padding: 8px 12px;
}

.services .item-header__label-availability span {
  display: inline-block;
  width: 19px;
  height: 19px;
  padding: 0px 0px 0px 24px;
  background: url("../img/icons/out-of-stock.svg") 0 center no-repeat;
}

.services .item-header__label-sale {
  text-transform: uppercase;
  background: #45D7B3;
}

.services .item-header__label-sale span {
  display: inline-block;
  width: 19px;
  height: 19px;
  padding: 0px 0px 0px 24px;
  background: url("../img/icons/sale.svg") 0 center no-repeat;
}

.services .item-header__label-hot {
  text-transform: uppercase;
  background: #F1433A;
}

.services .item-header__label-hot span {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 0px 0px 0px 26px;
  background: url("../img/icons/hot.svg") 0 center no-repeat;
}

.services .item-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services .item-footer__price {
  font-family: "Quarion";
  font-weight: 600;
  font-size: 30px;
  color: #FFFFFF;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.services .item-footer__price span {
  display: block;
  font-family: "Inter";
  font-size: 14px;
  letter-spacing: -0.025em;
  color: #6C6C6C;
  margin: 0px 0px 5px 0px;
}

.services .item-footer__button {
  display: inline-block;
  font-family: Inter;
  font-weight: 700;
  font-size: 20px;
  line-height: 127.2%;
  letter-spacing: -0.025em;
  color: #FFFFFF;
  padding: 15px 23px;
  background: #F1433A;
  -webkit-box-shadow: 0px 4px 39px rgba(231, 87, 87, 0.25);
          box-shadow: 0px 4px 39px rgba(231, 87, 87, 0.25);
  border-radius: 15px;
}

.reviews {
  padding: 50px 0px;
}

.reviews__title {
  position: relative;
  margin: 0px 0px 35px 0px;
  padding: 0px 0px 0px 45px;
}

.reviews__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../img/icons/star.svg) 0 0 no-repeat;
}

.reviews__body {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  justify-items: center;
  margin: 0px 0px 45px 0px;
}

.reviews__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__show-more {
  margin: 0px 10px;
}

.reviews__show-more:not(:last-child) {
  margin: 0px 0px 12px 0px;
}

.reviews__create-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Inter;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  padding: 0px 23px;
  margin: 0px 10px;
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#51B37F), to(#298152));
  background: -o-linear-gradient(top, #51B37F 0%, #298152 100%);
  background: linear-gradient(180deg, #51B37F 0%, #298152 100%);
  border-radius: 10px;
  border: 1px solid #52f59f;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.reviews__create-btn:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#2FDE81), to(#298152));
  background: -o-linear-gradient(top, #2FDE81 0%, #298152 100%);
  background: linear-gradient(180deg, #2FDE81 0%, #298152 100%);
}

.item-reviews {
  background: #201E1E;
  border-radius: 15px;
  padding: 15px 20px;
}

.item-reviews__content {
  margin: 0px 0px 20px 0px;
}

.item-reviews .content-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-reviews .content-reviews__time {
  font-family: Inter;
  font-size: 12px;
  line-height: 135.7%;
  color: #555555;
}

.item-reviews .rate__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-reviews .rate__star {
  width: 25px;
  height: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#51B37F), to(#298152));
  background: -o-linear-gradient(top, #51B37F 0%, #298152 100%);
  background: linear-gradient(180deg, #51B37F 0%, #298152 100%);
  border-radius: 5px;
  margin: 0px 2px 0px 0px;
}

.item-reviews .rate__star::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("../img/icons/star-w.svg") center no-repeat;
}

.item-reviews__heading {
  font-family: Inter;
  font-weight: 700;
  font-size: 20px;
  line-height: 135.7%;
  color: #FFFFFF;
  margin: 0px 0px 5px 0px;
}

.item-reviews__text {
  font-family: Inter;
  font-size: 14px;
  line-height: 135.7%;
  color: #FFFFFF;
  margin: 0px 0px 10px 0px;
}

.item-reviews__author {
  font-family: Inter;
  font-size: 12px;
  line-height: 135.7%;
  color: #555555;
}

.order {
  margin: 0px 0px -65px 0px;
}

.order__title {
  position: relative;
  margin: 0px auto 5px;
}

.order__title span {
  display: inline-block;
  width: 19.1px;
  height: 31.44px;
  margin: 0px 0px 0px -4px;
  padding: 0px 40px 0px 0px;
  background: url("../img/icons/order/questionmark.svg") 0 0 no-repeat;
}

.order__text {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 127.2%;
  color: #FFFFFF;
  max-width: 350px;
  padding: 0px 0px 0px 45px;
  margin: 0px 0px 60px 0px;
}

.order__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(255px, 1fr))[4];
  grid-template-columns: repeat(4, minmax(255px, 1fr));
}

.order__column {
  position: relative;
}

.order__bg {
  position: absolute;
  top: 44.41%;
  left: 13.97%;
  z-index: 5;
}

.order__bg_1 {
  -webkit-transform: rotate(-19.1deg);
      -ms-transform: rotate(-19.1deg);
          transform: rotate(-19.1deg);
}

.order__bg_2 {
  -webkit-transform: rotate(6.85deg);
      -ms-transform: rotate(6.85deg);
          transform: rotate(6.85deg);
}

.order__bg_3 {
  top: 60px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.order__bg_4 {
  top: 104px;
  -webkit-transform: rotate(4.43deg);
      -ms-transform: rotate(4.43deg);
          transform: rotate(4.43deg);
}

.order__column-hover {
  margin: -90px 0px 0px 0px;
}

.hover-column {
  position: relative;
  z-index: 20;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.hover-column__bg {
  position: absolute;
  left: 13.97%;
}

.hover-column__bg_1 {
  -webkit-transform: rotate(-19.1deg);
      -ms-transform: rotate(-19.1deg);
          transform: rotate(-19.1deg);
}

.hover-column__bg_2 {
  -webkit-transform: rotate(6.85deg);
      -ms-transform: rotate(6.85deg);
          transform: rotate(6.85deg);
}

.hover-column__bg_3 {
  top: -11px;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

.hover-column__bg_4 {
  top: 34px;
  -webkit-transform: rotate(4.43deg);
      -ms-transform: rotate(4.43deg);
          transform: rotate(4.43deg);
}

.hover-column__img {
  width: 55px;
  height: 55px;
  margin: 0 auto;
}

.hover-column__img_1 {
  background: url("../img/icons/order/hand-h.svg") 0 0 no-repeat;
}

.hover-column__img_2 {
  background: url("../img/icons/order/credit-cart-h.svg") 0 0 no-repeat;
}

.hover-column__img_3 {
  background: url("../img/icons/order/phone-h.svg") 0 0 no-repeat;
}

.hover-column__img_4 {
  background: url("../img/icons/order/checked-h.svg") 0 0 no-repeat;
}

.item-order {
  position: relative;
  top: 44.41%;
  z-index: 10;
}

.item-order__image {
  width: 55px;
  height: 55px;
  margin: 0 auto 15px;
}

.item-order__image_1 {
  background: url("../img/icons/order/hand.svg") 0 0 no-repeat;
}

.item-order__image_2 {
  background: url("../img/icons/order/credit-cart.svg") 0 0 no-repeat;
}

.item-order__image_3 {
  background: url("../img/icons/order/phone.svg") 0 0 no-repeat;
}

.item-order__image_4 {
  background: url("../img/icons/order/checked.svg") 0 0 no-repeat;
}

.item-order__title {
  color: #FFFFFF;
  font-family: Quarion;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0px 0px 10px 0px;
}

.item-order__text {
  font-family: Inter;
  font-size: 16px;
  line-height: 127.2%;
  text-align: center;
  color: #9A9A9A;
  margin: 0px auto;
  max-width: 222px;
}

.item-order__text_4 {
  max-width: 250px;
}

.orders {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(255px, 1fr))[4];
  grid-template-columns: repeat(4, minmax(255px, 1fr));
  gap: 30px;
}

.orders__item {
  position: relative;
  z-index: 0;
}

.orders__img--first {
  -webkit-transform: rotate(-19.1deg);
      -ms-transform: rotate(-19.1deg);
          transform: rotate(-19.1deg);
}

.orders__img--second {
  margin: 20px 0px 0px 0px;
  -webkit-transform: rotate(6.85deg);
      -ms-transform: rotate(6.85deg);
          transform: rotate(6.85deg);
}

.orders__img--third {
  margin: -5px 0px 0px 0px;
}

.orders__img--fourth {
  margin: 38px 0px 0px 0px;
  -webkit-transform: rotate(4.43deg);
      -ms-transform: rotate(4.43deg);
          transform: rotate(4.43deg);
}

.orders__content,
.orders .orders__content-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin: 32px 0px 0px 0px;
}

.orders__img-order {
  margin-bottom: 15px;
}

.orders__content-title {
  color: #FFFFFF;
  font-family: Quarion;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0px 0px 9px 0px;
}

.orders__content-description {
  line-height: 127.2%;
  text-align: center;
  color: #9A9A9A;
}

.orders__item-hover {
  position: relative;
  z-index: 0;
  margin: -127% 0px 0px 0px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease 0s;
  -o-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
}

.orders__content-hover {
  margin-top: 31px;
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1400px) {
  .content__categories {
    display: none;
  }

  .content__services-body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }
}

@media (max-width: 1112px) {
  ._container {
    max-width: 970px;
  }

  .content__services-body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .content__title {
    background: url("../img/icons/categories/CrownSimple-22x22.svg") 0 10px no-repeat;
  }

  .order {
    margin: 0px 0px -600px 0px;
  }

  .order__body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 40px;
  }

  .orders {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 40px;
  }

  .orders__item {
    margin: 0 auto -50px;
  }

  .orders__item-hover {
    margin: 0 auto;
  }
}

@media (max-width: 1100px) {
  ._title {
    font-size: calc(20px + 12 * ((100vw - 320px) / 780));
  }

  .footer {
    padding-top: calc(34px + 16 * ((100vw - 320px) / 780));
  }

  .footer {
    padding-bottom: calc(36px + -19 * ((100vw - 320px) / 780));
  }

  .home-page__title {
    font-size: calc(28px + 20 * ((100vw - 320px) / 780));
  }

  .home-page__title:not(:last-child) {
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / 780));
  }

  .home-page__text:not(:last-child) {
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / 780));
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .home-page__bg img {
    -o-object-position: 70% 0%;
       object-position: 70% 0%;
  }

  .services__title::before::before {
    background: url(../img/icons/fi-br-flame.svg) 0 0 no-repeat;
  }

  .reviews__title::before::before {
    background: url(../img/icons/star-g-min.svg) 0 center no-repeat;
  }
}

@media (max-width: 900px) {
  .content__title {
    background-position-y: 7px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .header__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__logo {
    display: block;
    margin: 0 auto;
    padding: 0px 0px;
  }

  .header__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .actions-header__form {
    margin: 0px 0px 18px 0px;
  }

  .actions-header__search {
    width: 185px;
  }

  .menu__service-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px auto 15px;
    padding: 15px 0;
    width: 160px;
    font-weight: 700;
    font-size: 14px;
    line-height: 127.2%;
    letter-spacing: -0.025em;
  }

  .menu__body._active .menu__categories {
    display: block;
    width: 100%;
    border-bottom: 1px solid #363636;
    padding: 0px 0px 30px 0px;
    margin: 0px 0px 30px 0px;
  }

  ._no-webp .menu__body{
    background: #131212 url("../img/menu-bg.png") 0 center no-repeat; }

  .menu__body {
    position: fixed;
    top: 0;
    right: -250px;
    height: 100%;
    width: 250px;
    padding: 25px 15px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow-y: scroll;
    -webkit-transition: 0.3s ease-in-out 0s;
    -o-transition: 0.3s ease-in-out 0s;
    transition: 0.3s ease-in-out 0s;
    -webkit-transition-property: right, opacity;
    -o-transition-property: right, opacity;
    transition-property: right, opacity;
  }

  .menu__body .menu__list {
    display: block;
    padding: 0px 0px 0px 10px;
  }

  .menu__body .menu__item:not(:last-child) {
    margin: 0px 0px 24px 0px;
  }

  .menu__body .menu__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 127.2%;
    letter-spacing: -0.025em;
    color: #797979;
  }

  .menu__body._active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    right: 0;
  }

  .menu__logo {
    display: block;
    text-align: center;
    margin: 0px 0px 15px 0px;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 30px;
    right: 10px;
    z-index: 20;
    width: 16px;
    height: 12px;
    cursor: pointer;
  }

  .icon-menu span:first-child::before,
  .icon-menu span:first-child::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0px;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .icon-menu span:first-child::before {
    top: 0px;
  }

  .icon-menu span:first-child::after {
    top: 3px;
    width: 80%;
  }

  .icon-menu span:last-child::before,
  .icon-menu span:last-child::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0px;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .icon-menu span:last-child::before {
    top: 6px;
  }

  .icon-menu span:last-child::after {
    top: 9px;
    width: 80%;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child::before {
    top: calc(50% - 1px);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    width: 100%;
  }

  .icon-menu._active span:last-child::before {
    bottom: calc(50% - 1px);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .icon-menu._active span:first-child::after,
  .icon-menu._active span:last-child::after {
    display: none;
  }

  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__menu {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0px 0px 24px 0px;
    max-width: 300px;
  }

  .footer__label {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0px 0px 24px 0px;
  }

  .footer__social {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .menu-footer__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[3];
    grid-template-rows: repeat(3, 1fr);
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 150px;
       -moz-column-gap: 150px;
            column-gap: 150px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-auto-flow: column;
  }

  .social-footer__list {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    width: 100%;
  }

  .social-footer__item:last-child {
    margin: 0px 0px 0px 0px;
  }

  .social-footer__item:not(:last-child) {
    margin: 0px 0px 0px 0px;
  }

  .sidebar {
    margin: 0px 0px 0px 0px;
  }

  .sidebar__container {
    padding: 0px 0px 0px 0px;
    background: #000;
  }

  ._no-webp .sidebar__header{
    background: url("../img/category/sidebar-bg-mobile.jpg") 0 0/cover no-repeat; }

  .sidebar__header {
    height: 95px;
  }

  .sidebar__categories {
    width: 100%;
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    -ms-grid-columns: (minmax(220px, 1fr))[3];
    grid-template-columns: repeat(3, minmax(220px, 1fr));
    background: #000;
  }

  .sidebar__category {
    height: 50px;
    margin: 0 0px;
    background: #1B1919;
    border-radius: 8px;
  }

  .sidebar__category-title {
    font-size: 16px;
    line-height: 50px;
    background-position: 5px center;
  }

  .breadcrumbs {
    margin: 20px 0px 40px 20px;
  }

  .page__sidebar {
    margin: 0px 0px 40px 0px;
  }

  .page__flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .order {
    margin: 0px 0px -1180px 0px;
  }

  .order__title span {
    background-size: 15px, 23px;
    background-position: 0 bottom;
    margin: 0;
    padding: 0px 27px 0px 0px;
  }

  .order__body {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .orders {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 700px) {
  .sidebar__categories {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .content__title {
    background-position-y: 5px;
  }
}

@media (max-width: 479.98px) {
  .sidebar__category-title::after {
    right: 10px;
  }

  .sidebar__category-title {
    padding: 0px 10px;
    background: none;
  }

  .sidebar__category-title._active {
    background: none;
  }

  .sidebar__categories-list {
    padding: 10px 10px 10px 15px;
  }

  .breadcrumbs__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .breadcrumbs__list li {
    white-space: nowrap;
  }

  .breadcrumbs__list li:not(:last-child) {
    margin: 0px 0px 5px 0px;
  }

  .content__title {
    background-position-y: 3px;
  }

  .page__sidebar {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    width: 100%;
    margin: 0px 0px 0px 0px;
  }

  .home-page__title {
    max-width: 200px;
  }

  .home-page__text {
    max-width: 270px;
  }

  .reviews__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .reviews__show-more {
    padding: 17px;
    max-width: 275px;
    min-height: 50px;
  }

  .reviews__create-btn {
    padding: 15px 23px 16px;
    min-height: 50px;
  }

  .order__text {
    display: none;
  }
}

@media (max-width: 479.98px) and (any-hover: hover) {
  .sidebar__category-title:hover {
    background: none;
  }
}

@media (max-width: 370px) {
  .services__body {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

  .services .item-services {
    max-width: 300px;
  }

  .services .item-services__body {
    height: 429px;
  }

  .services .item-services__bg img {
    width: 300px;
  }

  .item-reviews {
    max-width: 300px;
  }
}

@media (max-width: 320px) {
  .sidebar__category-title::after {
    right: 5px;
  }
}

@media (any-hover: hover) {
  ._btn-trustpilot:hover {
    background: rgba(81, 179, 127, 0.27);
  }

  ._get-service-btn:hover {
    background: #FC4339;
    -webkit-box-shadow: 0px 4px 39px rgba(231, 87, 87, 0.25);
            box-shadow: 0px 4px 39px rgba(231, 87, 87, 0.25);
  }

  .menu__item:hover .menu__link {
    text-decoration: underline;
  }

  .menu-footer__item:hover .menu-footer__link {
    color: #fff;
  }

  .social-footer__link:hover.social-footer__link_facebook {
    background: url("../img/icons/social/facebook-h.svg") 0 0 no-repeat;
  }

  .social-footer__link:hover.social-footer__link_instagram {
    background: url("../img/icons/social/instagram-h.svg") 0 0 no-repeat;
  }

  .social-footer__link:hover.social-footer__link_discourd {
    background: url("../img/icons/social/discourd-h.svg") 0 0 no-repeat;
  }

  .social-footer__link:hover.social-footer__link_skype {
    background: url("../img/icons/social/skype-h.svg") 0 0 no-repeat;
  }

  .social-footer__link:hover.social-footer__link_telegram {
    background: url("../img/icons/social/telegram-h.svg") 0 0 no-repeat;
  }

  .social-footer__mail:hover {
    color: #fff;
  }

  .sidebar__category-title:hover {
    color: #e5453d;
    background: url("../img/icons/categories/Medal-hover.svg") 0 center no-repeat;
  }

  .sidebar__category-item:hover {
    color: #fff;
  }

  .breadcrumbs__link:hover {
    text-decoration: underline;
  }

  .services .item-services:hover::before {
    opacity: 1;
  }

  .reviews__create-btn:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#2FDE81), to(#298152));
    background: -o-linear-gradient(top, #2FDE81 0%, #298152 100%);
    background: linear-gradient(180deg, #2FDE81 0%, #298152 100%);
  }

  .hover-column:hover {
    opacity: 1;
  }

  .orders__item-hover:hover {
    opacity: 1;
  }
}

._webp .sidebar__header{ background: url(../img/category/sidebar-bg.webp) 0 0 no-repeat; }

._webp .content__bg{ background: -webkit-gradient(linear, left bottom, left top, color-stop(18.92%, #131212), color-stop(61.46%, rgba(19, 18, 18, 0.610513)), color-stop(85.04%, rgba(19, 18, 18, 0.19))), url(../img/bg.webp) 0 0 no-repeat; }

._webp .content__bg{ background: -o-linear-gradient(bottom, #131212 18.92%, rgba(19, 18, 18, 0.610513) 61.46%, rgba(19, 18, 18, 0.19) 85.04%), url(../img/bg.webp) 0 0 no-repeat; }

._webp .content__bg{ background: linear-gradient(360deg, #131212 18.92%, rgba(19, 18, 18, 0.610513) 61.46%, rgba(19, 18, 18, 0.19) 85.04%), url(../img/bg.webp) 0 0 no-repeat; }

@media (max-width: 767.98px){

  ._webp .menu__body{ background: #131212 url(../img/menu-bg.webp) 0 center no-repeat; }
}

@media (max-width: 767.98px){

  ._webp .sidebar__header{ background: url(../img/category/sidebar-bg-mobile.webp) 0 0/cover no-repeat; }
}